@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i');

body{
  background-color: #1a1a1a;
  color: #1a1a1a;
  margin: 0;
  box-sizing: border-box;
}
textarea, input{
  font-family: times new roman;
  color: #f2f2f2;
  background-color: #1a1a1a;
  border: 2px solid #f2f2f2;
  font-size: 17px;
  margin-top: 10px;
  padding: 7px;
  resize: vertical;
}
@media only screen and (max-device-width:450px) {
  textarea, input{
    font-size: 5vw;
    line-height: 7vw;
    border-width: 4px;
    padding: 20px 30px;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
}
a{
  color: gold;
  text-decoration: none;
}
a:hover{
  text-decoration: underline;
}
::-webkit-input-placeholder {
   color: #f2f2f2;
}
::-webkit-scrollbar {
    display: none;
}
h3{
  font-family: 'Roboto';
}
input:focus{
  outline: 2px solid gold;
}

textarea:focus{
  outline: 2px solid gold;
}
img{
  box-shadow: 0px 0px 4px -1px grey;
  cursor: pointer;
}
.all-wrapper{
  position: absolute;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: -4;
}
.main-wrapper{
  overflow-y: scroll;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0;
  transition: left .8s;
  -webkit-transition: left .8s;
  background-color: white;
  background-image: url('images/pattern.png');
  box-shadow: -3px 0 6px black, 1px 0px 1px white inset;
  z-index: 4;
}
@media only screen and (max-device-width:450px) {
  .main-wrapper{
    height: auto;
    overflow: visible;
    overflow-y: scroll;
    overflow-scrolling: touch
  }
  body{
    overflow-y: scroll;
    overflow-scrolling: touch
  }
  .all-wrapper{
    overflow-y: scroll;
  }
}
.no-scroll{
  overflow: hidden;
}
.main-wrapper-info-active{
  left: 400px;
}
@media only screen and (max-device-width:450px) {
  .main-wrapper{
    transition: all 0s;
  }
  .main-wrapper-info-active{
    left: 100vw;
  }
}
.main-wrapper-resume-active{
  left: 850px;
}
@media only screen and (max-device-width:450px) {
  .main-wrapper-resume-active{
    left: 100vw;
  }
}
.head{
  font-family: 'Roboto', impact;
  float: left;
  font-size: 32px;
  font-weight: 500;
  padding: 15px 20px;
  margin: 35px;
  margin-right: 18px;
  background-color: #f2f2f2;
  border: 1px solid #1a1a1a;
}
@media only screen and (max-device-width:450px) {
  .head{
    font-size: 9vw;
    border-width: 4px;
    padding: 20px 25px;
  }
}
.info-button{
  margin: 48px 0px;
  width: 45px;
  height: 45px;
  float: left;
  font-size: 25px;
  text-align: center;
  vertical-align: center;
  line-height: 45px;
  background-color: #f2f2f2;
  border: 1px solid #1a1a1a;
  border-radius: 100%;
  cursor: pointer;
}
@media only screen and (max-device-width:450px) {
  .info-button{
    font-size: 9vw;
    line-height: 13vw;
    width: 12vw;
    height: 12vw;
    border-width: 4px;
  }
}
.info-button:hover{
}
.info-button-active{
  transition: all 1.5s;
  transform: rotate(0deg) !important;
}
/*INFO*/
.info-wrapper{
  height: 100vh;
  width: 400px;
  position: absolute;
  left: -400px;
  transition: left .8s;
  overflow: hidden;
  box-shadow: -1px 0 6px #1a1a1a, 1px 0px 1px #444 inset;
}
@media only screen and (max-device-width:450px) {
  .info-wrapper{
    width: 100vw;
    padding-top: 100px;
    box-sizing: border-box;
    transition: all 0s;
  }
}
.info-wrapper-active{
  left: 0;
}
.info-wrapper-resume-active{
  left: 450px;
}
@media only screen and (max-device-width:450px) {
  .info-wrapper-resume-active{
    left: 100vw;
  }
}
.info-content{
  padding: 40px;
  font-size: 17px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Times New Roman";
  color: #f2f2f2;
  text-shadow: 1px 1px 10px black;
}
@media only screen and (max-device-width:450px) {
  .info-content{
    font-size: 5vw;
    line-height: 7vw;
  }
}
.btn{
  padding: 5px 10px;
  border: 2px solid white;
  display: inline-block;
  margin-top: 0;
  cursor: pointer;
  transition: all .4s ease;
  margin-bottom: 20px;
}
@media only screen and (max-device-width:450px) {
  .btn{
    border-width: 4px;
    padding: 20px 30px;
  }
}
.btn:hover{
  border-color: gold;
  color: gold;
}
.form-message{
  color: purple;
  font-size: 23px;
  text-align: center;
  visibility: hidden;
  margin-top: 40px;
}
@media only screen and (max-device-width:450px) {
  .form-message{
    font-size: 6vw;
    line-height: 8vw;
  }
}
.links{
  position: absolute;
  left: 5px;
  bottom: 0;
  width: calc(100% - 10px);
  background: #1a1a1a;
  box-shadow: 0 -10px 15px #1a1a1a;
}
.info-x{
  position: absolute;
  right: 45px;
  top: 45px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-image: url(images/info-remove.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
@media only screen and (max-device-width:450px) {
  .info-x{
    display: block;
  }
}
/*RESUME*/
.resume-wrapper{
  position: absolute;
  top: 0;
  width: 450px;
  height: 100vh;
  background-color: #FFC900;
  color: orangered;
  transition: all .8s;
  left: -850px;
}
@media only screen and (max-device-width:450px) {
  .resume-wrapper{
    width: 100vw;
    box-sizing: border-box;
    padding-top: 100px;
    left: -200vw;
    transition: all 0s;
  }
}
.resume-wrapper-info-active{
  left: -450px;
}
@media only screen and (max-device-width:450px) {
  .resume-wrapper-info-active{
    left: -100vw;
  }
}
.resume-wrapper-active{
  left: 0;
}
.resume-content{
  padding: 40px;
  font-size: 17px;
  line-height: 32px;
  font-weight: 400;
  font-family: "Times New Roman";
}
.resume-content li{
  font-size: 15px;
  line-height: 18px;
}
@media only screen and (max-device-width:450px) {
  .resume-content{
    font-size: 4vw;
    line-height: 6vw;
  }
  .resume-content li{
    font-size: 4vw;
    line-height: 6vw;
  }
}
.resume-x{
  position: absolute;
  right: 45px;
  top: 45px;
  width: 80px;
  height: 80px;
  cursor: pointer;
  background-image: url(images/resume-remove.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}
@media only screen and (max-device-width:450px) {
  .resume-x{
    display: block;
  }
}
/*zoom*/
.overlay-wrapper{
  position: fixed;
  left:0;top:0;height:100vh;width:100vw;
  background: rgba(255, 255, 255, 0.95);
  display: none;
  overflow: hidden;
  z-index: 100;
}
.zoom{
  position: absolute;
  height: calc(100vh - 100px);
  width: calc(100vw - 540px);
  left: 270px;
  top: 50px;
  background-image: url(images/nytimes.png);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: drop-shadow( 0px 0px 3px lightgrey);
  filter: drop-shadow( 0px 0px 3px lightgrey);
}
.overlay-wrapper .shown-cap{
  position: absolute;
  left: 25px;
  top: 40vh;
  width: 220px;
}
.overlay-wrapper .shown-cap h3{
  padding-bottom: 0;
  margin-bottom: 0;
}
.overlay-wrapper .shown-cap p{
  border-top: 1px solid black;
  padding-top: 10px;
  margin-top: 8px;
}
.hidden-cap{
  display: none;
}
@media (max-width:1200px){
  .zoom{
    width: calc(100vw - 240px);
    left: 120px;
  }
  .overlay-wrapper .shown-cap{
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
  }
  .overlay-wrapper .shown-cap h3{
    position: absolute;
    left: 0px;
    top: -5px;
    width: calc(100vw);
    text-align: center;
    border-bottom: none;
  }
  .overlay-wrapper .shown-cap p{
    position: absolute;
    left: 0px;
    top: auto;
    bottom: 5px;
    width: calc(100vw);
    text-align: center;
    border-top: none;
  }
}
@media (max-width:740px){
  .zoom{
    width: calc(100vw - 100px);
    left: 50px;
  }
}
@media (max-width:500px){
  .zoom{
    width: calc(100vw);
    left: 0;
  }
}
@media only screen and (max-device-width:450px) {
  .zoom{
    width: calc(100vw);
    left: 0;
  }
  .overlay-wrapper .shown-cap h3{
    font-size: 8vw;
  }
  .overlay-wrapper .shown-cap p{
    display: none;
  }
}
.x{
  font-size: 30px;
  position: absolute;
  right: 25px;
  top: 25px;
  width: 23px;
  height: 23px;
  cursor: pointer;
  background-image: url(images/remove.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media only screen and (max-device-width:450px) {
  .x{
    top: auto;
    bottom: 250px;
    left: 0;
    width: 100vw;
    height: 100px;
  }
}
/*main*/
.section{
  position: relative;
  box-sizing: border-box;
  display: block;
  width: 100vw;
  overflow-x: scroll;
  overflow-y: visible;
  white-space: nowrap;
}
.section-first{
  margin-top: 20px;
}
.item-wrapper{
  box-sizing: border-box;
  padding: 70px 35px 70px 35px;
  width: 100vw;
  overflow: scroll;
  white-space: nowrap;
}
.item{
  width: auto;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.item + .item{
  margin-left: 20px;
}
.center{
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.web-item-wrapper img{
  box-shadow: 1px 1px 6px -2px rgba(0,0,0,.3);
  margin-right: 50px;
  margin-bottom: 35px;
  position: relative;
}
.web-item-wrapper a{
  position: relative;
  cursor: pointer;
  color: black;
}
.web-item-wrapper a:visited{
  color: black;
}
.web-item-wrapper a span:hover{
  text-decoration: underline;
}
.web-item-desc{
  background-color: #f2f2f2;
  color: #1a1a1a;
  position: absolute;
  left: 0;
  bottom: 0px;
  padding: 5px;
}
@keyframes star {
  0% {transform: rotate(0deg);}
  50% {transform: rotate(180deg);}
  100% {transform: rotate(360deg);}
}
.in-progress:after{
  content: 'NEW';
  font-family: 'Roboto';
  font-weight: bolder;
  color: gold;
  text-align: center;
  line-height: 81px;
  letter-spacing: 3px;
  width: 80px;
  height: 80px;
  /*background: gold;*/
  border-radius: 50%;
  position: absolute;
  left: 450px;
  top: -360px;
  /*box-shadow: 2px 2px 10px rgba(0,0,0,.3);*/
  padding-left: 3px;
  box-sizing: border-box;
  z-index: 2;
}
.in-progress:before{
  content: '';
  width: 80px;
  height: 80px;
  background-image: url(images/star.svg);
  border-radius: 50%;
  position: absolute;
  left: 450px;
  top: -360px;
  /*box-shadow: 2px 2px 10px rgba(0,0,0,.3);*/
  padding-left: 3px;
  box-sizing: border-box;
  animation-name: star;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  z-index: 1;
}
.item-test > img{
  position: relative;
  box-shadow: 1px 1px 6px -2px rgba(0,0,0,.3);
  transition: height 1s;
  -webkit-transition: height 1s;
}
.section-desc{
  position: absolute;
  top: -1px;
  left: 35px;
  background-color: #f2f2f2;
  padding: 10px;
  border: 1px solid #1a1a1a;
}
.rule{
  position: absolute;
  top: 0;
  height: 1px;
  width: calc(100% - 70px);
  background-color: #1a1a1a;
  left: 35px;
}
@media only screen and (max-device-width:450px) {
  .section-desc{
    font-size: 4vw;
    border-width: 4px;
  }
  .rule{
    height: 4px;
  }
  .item-wrapper{
    padding-bottom: 160px;
  }
  .section-first{
    margin-top: 0;
  }
  .web-item-desc{
    font-size: 4vw;
    bottom: -50px;
  }
}
.vertical-rule{
  display: inline-block;
  height: 225px;
  width: 1px;
  vertical-align: middle;
  margin: 0;
  transition: all 1s;
  -webkit-transition: all 1s;
}
.vertical-rule-active{
  height: 400px;
}
.item-info-icon{
  position: absolute;
  right: 10px;
  top: 10px;
}
.footer{
  padding: 25px 35px 45px 35px;
  position: relative;
}
@media only screen and (max-device-width:450px) {
  .footer{
    font-size: 4vw;
    padding-bottom: 70px;
  }
}
@keyframes cof {
  0% {background-color: #231F20;}
  25% {background-color: #FFBD07}
  50% {background-color: #e34f19}
  75% {background-color: #375BA3}
  100% {background-color: #231F20;}
}
/*coffee*/
.ts-coffee{
  border-radius: 50%;
  background: #231F20;
  box-shadow: 1px 1px 10px -2px rgba(0,0,0,.5), -20px -20px 2px -20px rgba(255,255,255,.1) inset;
  animation-name: cof;
  animation-duration: 7s;
  animation-timing-function: step-start;
  animation-iteration-count: infinite;
}
/*twitter*/
@keyframes cand {
  7%  {transform: rotate(0deg);}
  18%  {transform: rotate(90deg);}
  32%  {transform: rotate(90deg);}
  43%  {transform: rotate(180deg);}
  57%  {transform: rotate(180deg);}
  68%  {transform: rotate(270deg);}
  82%  {transform: rotate(270deg);}
  93% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}
}
.cand-img-container{
  height: 250px;
  width: 250px;
  box-shadow: 1px 1px 10px -2px rgba(0,0,0,.5), -20px -20px 2px -20px rgba(255,255,255,.1) inset;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
  margin-right: 50px;
  overflow: hidden;
  background: linear-gradient(to top right, #3939ac, tomato);
  z-index: 1;
}
  .cand-img-wrap{
    position: absolute;
    bottom:20px;
    left: -110px;
    width: 200%;
    height: 200%;
    background-image: url(images/combined.png);
    background-repeat: no-repeat;
    background-position: 57% center;
    background-size: 100% auto;
    animation-name: cand;
    animation-iteration-count: infinite;
    animation-duration: 15s;
    z-index: 0;
  }
